/* styles for the generated playlsit page */

section {
  border-radius: 15px;
}

#playlist-wrapper > button {
  padding: 20px;
}

#playlist-wrapper > .song-results-container {
  background-color: transparent;
}

#spotify-btn {
  background-color: #1DB954;
  color: rgb(28, 35, 48);
  float: right;
  border-bottom-left-radius: 10px;
}

#back-btn {
  border-bottom-right-radius: 10px;
}

#back-btn img, #spotify-btn img {
  vertical-align: middle;
}

#playlist-wrapper, #back-btn {
  background-color: rgb(28, 35, 48, 0.6);
}
#song-player {
  background-color: rgb(28, 35, 48, 0.2);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}


#playlist-wrapper {
  overflow: hidden;
}

#playlist-wrapper-mobile {
  overflow: hidden;
}

.icon-mobile {
  padding: 10px;
}

#song-player {
  margin: 20px;
  padding: 20px;
}

#playlist-wrapper-mobile {
  background-color: rgb(28, 35, 48, 0.4);
}

#song-player-mobile {
  background-color: rgb(28, 35, 48, 0.2);
}

#song-player-mobile {
  margin: 10px;
  margin-top: 50px;
  padding: 10px;
}

.results-mobile {
  padding: 10px;
  /* border-radius: 10px; */
}

.song-img {
  height: 180px;
  border-radius: 10px;
}

.song-img-mobile {
  width: auto;
  height: auto;
  border-radius: 15px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.flex-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-song {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.song-stats {
  margin-top: 20px;
}
.song-stats-mobile {
  margin-top: 0px;
}

.play-btn-container {
  /* position: relative; */
  cursor: pointer;
  padding: 15px;
  transition: transform 0.1s ease-in-out;
  background-color: #6481E8;
  border-radius: 50%;
  display: flex;
  margin-right: 20px;
}

.play-btn-container:hover {
  transform: scale(1.02);
}


.play-btn {
  width: 64px;
  height: 64px;
  z-index: 2;
}

.current-song {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-song-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.current-song > p {
  /* flex-shrink: 2; */
}

.vl {
  border-left: 2px solid white;
  height: 130px;
}

.vl-mobile {
  border-left: 2px solid white;
  height: 90px;
}

.attrs{
  text-align: center;
  flex-grow: 2;
}

.arrow-back, .arrow-back-mobile, .spotify-icon {
  width: 36px;
  height: 36px;
}
.arrow-back {
  margin-right: 10px;
}
.arrow-back-mobile {
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.spotify-icon {
  margin-left: 10px;
}
