/**
  * Css styles for the song search portion
  */

  #song-search {
    width: calc(100% - 65px);
    font-size: 20px;
  }

  #song-search-wrapper {
    position: relative;
  }

  #song-search + button {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 50px;
    border-radius: 0px 20px 20px 0;
  }

  .song-results-container {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 10px;
    margin: 20px 0px 20px 0px;
  }

  .song-results-container > .results-label > p {
    margin: 0;
  }

  .results-label + hr {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.7);
  }

  #selected-song {
    position: absolute;
    left: 10px;
    top: 10px;
    width: calc(100% - 70px);
    border-radius: 10px;
    font-size: 14px;
    height: calc(100% - 20px);
    text-align: left;
    padding-left: 20px;
    background-color: #6481E8;
  }

  #selected-song:hover {
    background-color: #819dff;
  }

  .song-result, .results-label {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .song-result, .song-results-container, .song-result-mobile {
    border-radius: 20px;
  }

  .song-playlist-mobile, .song-result > img {
    border-radius: 10px;
  }

  .song-result-mobile {
    margin-bottom: 10px;
  }

  .song-result, .song-playlist-mobile, .results-label + hr {
    margin-bottom: 20px;
  }

  .song-result {
    background-color: #D5D1FF;
    padding: 5px;
    align-items: center;
    overflow: hidden;
  }

  .song-result-mobile, .song-result {
    color: black;
  }

  .song-result-mobile {
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: #D5D1FF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 20px 10px 20px;
  }

  .song-result-mobile:hover, .song-result:hover {
    background: #B6B2FE;
    transition: 0.2s;
  }

  .song-playlist-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D5D1FF;
    /* top | right | bottom | left */
    padding: 5px 20px 5px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .play-btn-small {
    width: 36px;
    height: 36px;
    z-index: 2;
  }

  .play-btn-container-small {
    /* position: relative; */
    cursor: pointer;
    padding: 2px;
    transition: transform 0.1s ease-in-out;
    background-color: #6481E8;
    border-radius: 50%;
    display: flex;
    /* margin-right: 20px; */
  }

  .song-container-mobile > p {
    text-shadow: none;
    color: #1C2330;
  }

  .song-result > img {
    height: 90px;
    margin: 10px;
    border-radius: 10px;
  }

  .song-result:hover {
    cursor: pointer;
  }

  .material-symbols-rounded {
    margin: 8px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  #selected-song > .material-symbols-rounded {
    margin: 0px;
    float: right;
  }

  #selected-song p {
    margin: 0px;
    display: inline;
    vertical-align: sub;
  }

  #search-results {
    text-shadow: none;
  }

  #artist, #title, #artist-title {
    padding-right: 20px;
  }

